/*Buscador de contenido*/
#ctn-bars-search{
    position: fixed;
    top: 1rem;
    width: 100%;
    background: #fff;
    padding: 20px;
    z-index: 600;
    transition: all 600ms;
};
#ctn-bars-search input{
    display: block;
    width: 1200px;
    margin: auto;
    padding: 10px;
    font-size: 18px;
    outline: 0;
};
#cover-ctn-search{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 450;
    display: none;
}

